<!-- src/main/resources/templates/products_detail.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">

<body>
	<div th:fragment="content">
		<div class="container product-details">
			<h2 th:text="${producto.nombre}"></h2>
			<img th:src="${producto.imagen}" alt="Product Image" class="detalles">
			<p th:text="${producto.descripcion}"></p>
			<p th:text="'Stock: ' + ${producto.stock} + ' Unid.'"></p>
			<p th:text="'Precio: $ ' + ${producto.price} + '.-'"></p>
			<div class="botones">
			<a th:href="@{/productos}" class="btn btn-secondary">VOLVER</a> <a
				th:href="@{'/productos/modificar/' + ${producto.id}}"
				class="btn btn-primary">MODIFICAR</a> <a
				th:href="@{'/productos/eliminar/' + ${producto.id}}"
				class="btn btn-danger">ELIMINAR</a>

			</div>
		</div>
	</div>
</body>
</html>
